project phases with requirements

alphaOne
----
patient-management: have crud ops on the patient details.
appointments-management:  have crud ops on the appointments combined with patient-management.
clinical-data-grid: have all the static data on the diseases, medicines, lab tests, templates of prescriptions.
prescription-management: after selecting a template from clinical-data-grid, enter data and generate a pdf file along side have a copy of that pdf in the patient details and appointments storing table too.
authentication-management: for receptionist, and doctors(admin) only.
inventory-management: Equipments or medicines (only listing and tracking of booked items).

-----------------------------
-----------------------------
alphaTwo
----

